<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum lectus eu ligula mollis, ac maximus lectus feugiat. Sed iaculis arcu eget faucibus eleifend. Proin nec sem mi. Vivamus tristique, tellus non dapibus congue, augue mi vulputate metus, ut vulputate tortor purus a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam felis, faucibus ut dictum ut, scelerisque vel elit. Quisque posuere mi non lacus consequat, ut lobortis odio imperdiet.
    </p>
</article>